<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="container">
    <h2>Faça o seu cadastro!</h2>
    <div class="form-box">
      <form action="#" method="post">
        
        <div class="input-box">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Nome" required>
        </div>

        <div class="input-box">
          <i class="fa-solid fa-key"></i>
          <input type="password" placeholder="Senha" required>
        </div>

        <div class="input-box">
          <i class="fa-solid fa-calendar"></i>
          <input type="date" required>
        </div>

        <button type="submit"><i class="fa-solid fa-plus"></i> Cadastrar</button>
        <a href="../../index.html">Voltar</a>
      </form>
    </div>
  </div>
</body>
</html>
