<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h2>Faça o seu cadastro!</h2>
    <div class="form-box">
      <form action="#" method="post">
        <input type="text" placeholder="Nome" required>
        <input type="password" placeholder="Senha" required>
        <input type="date" required>
        <button type="submit">Cadastrar</button>
        <a href="#">Voltar</a>
      </form>
    </div>
  </div>
</body>
</html>
