@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    height: 280px;
  }
  
  .input-box {
    position: relative;
    margin: 10px 0;
  }
  
  .input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(65, 65, 168);
  }
  
  .input-box input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* espaço para o ícone */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box  ;
  }
  
  .form-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(65, 65, 168);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .form-box button i {
    margin-right: 5px;
  }
  
  .form-box button:hover {
    background-color: rgb(151, 151, 241);
  }
  
  .form-box a {
    display: inline-block;
    margin-top: 10px;
    color: rgb(65, 65, 168);
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-box a:hover {
    text-decoration: underline;
  }
  